.title {
  font-size: 50px;
  text-align: center;
}



.title div {
  margin: 60px 0;
}

.title p {
  font-size: 32px;
}

.left-title {
  text-align: left;
}

.top-title {
  margin-bottom: 100px;
}

.more-text {
  font-size: 35px;
  line-height: 90px;
}