.qa {
  font-size: 0.8rem;
  text-align: center;
  font-family: 微软雅黑;
}

.end-word {
  font-size: 0.45rem;
  line-height: 9rem;
  text-align: center;
}

.end-tag {
  font-size: 0.3rem;
  text-align: right;
  margin-top: 1rem;
  margin-right: 0.3rem;
}

@media (max-width: 500px) {
  .end-word {
    font-size: 0.8rem;
    line-height: 9rem;
  }
  
  .end-tag {
    font-size: 0.6rem;
  }
}