.qa {
  font-size: 8rem;
  text-align: center;
  font-family: 微软雅黑;
}

.end-word {
  font-size: 4.5rem;
  line-height: 9rem;
  text-align: center;
}

.end-tag {
  font-size: 3rem;
  text-align: right;
  margin-top: 10rem;
  margin-right: 3rem;
}