.github-icon {
  top: 2rem;
  left: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  position: fixed;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.github-icon img {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 4rem;
  color: #cdcdcd;
  margin-top: -10rem;
}

.author {
  font-size: 3rem;
  margin-top: 5rem;
  color: #d0d0d0;
  margin-left: 70rem;
  font-family: xihei;
}

.full-screen {
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  font-size: 2.2rem;
  text-align: center;
  right: 0;
  top: 0;
  background: #444859;
  color: #6b7d8f;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
}

.more-text {
  font-size: 3.2rem;
  line-height: 9rem;
  text-align: center;
}

.history-title {
  font-size: 4.5rem;
  text-align: center;
}