.github-icon {
  top: 0.2rem;
  left: 0.2rem;
  width: 0.35rem;
  height: 0.35rem;
  display: flex;
  position: fixed;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.github-icon img {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 0.4rem;
  color: #cdcdcd;
  margin-top: -1rem;
}

.author {
  font-size: 0.3rem;
  margin-top: 0.5rem;
  color: #d0d0d0;
  margin-left: 7rem;
  font-family: xihei;
}

.full-screen {
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.22rem;
  text-align: center;
  right: 0;
  top: 0;
  background: #444859;
  color: #6b7d8f;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
}

.more-text {
  font-size: 0.32rem;
  line-height: 0.9rem;
  text-align: center;
}

.history-title {
  font-size: 0.45rem;
  text-align: center;
}