@font-face {
  font-family: xihei;
  src: url('./ppt/assets/方正兰亭超细黑简体.ttf');
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}

.github-icon {
  top: 0.2rem;
  left: 0.2rem;
  width: 0.35rem;
  height: 0.35rem;
  display: flex;
  position: fixed;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.github-icon img {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 0.4rem;
  color: #cdcdcd;
  margin-top: -1rem;
}

.author {
  font-size: 0.3rem;
  margin-top: 0.5rem;
  color: #d0d0d0;
  margin-left: 7rem;
  font-family: xihei;
}

.full-screen {
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.22rem;
  text-align: center;
  right: 0;
  top: 0;
  background: #444859;
  color: #6b7d8f;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  z-index: 9999;
}

.more-text {
  font-size: 0.32rem;
  line-height: 0.9rem;
  text-align: center;
}

.history-title {
  font-size: 0.45rem;
  text-align: center;
}

/* 移动端才需要 */
@media (min-width: 700px) {
  .mask {
    display: none;
  }
}

@media (max-width: 500px) {
  .github-icon {
    top: 0.3rem;
    left: 0.3rem;
    width: 0.45rem;
    height: 0.45rem;
  }
  
  .title {
    font-size: 0.6rem;
    margin-top: -1rem;
  }
  
  .author {
    font-size: 0.45rem;
    margin-top: 0.5rem;
    margin-left: 7rem;
  }
  
  .full-screen {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.5rem;
    margin-top: -1rem;
  }
  
  .more-text {
    font-size: 0.7rem;
    line-height: 1.8rem;
  }
  
  .history-title {
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
}