.small {
  margin-top: 40px;
  font-size: 25px;
}

.title {
  font-size: 45px;
  text-align: center;
}

.title div {
  margin: 20px 0;
}

.title p {
  font-size: 32px;
}

.history-title {
  font-size: 50px;
  left: 0;
}

.history-item {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.history-item :global(.pure-text) {
  font-size: 40px !important;
}

.history-item div {
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 15px;
  box-sizing: border-box;
}

.history-item img {
  transform: rotate(-90deg);
}

.left-title {
  text-align: left;
}

.conclusion {
  font-size: 30px;
  text-align: left;
  line-height: 60px;
}

.conclusion li {
  margin: 40px 0;
}

.more-text {
  font-size: 32px;
  line-height: 90px;
  text-align: center;
}

.top-title {
  margin-bottom: 100px;
}
