.small {
  margin-top: 4rem;
  font-size: 2.5rem;
}

.title {
  font-size: 4.5rem;
  text-align: center;
}

.title div {
  margin: 2rem 0;
}

.title p {
  font-size: 3.2rem;
}

.history-title {
  font-size: 5rem;
  left: 0;
}

.history-item {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.history-item :global(.pure-text) {
  font-size: 4rem !important;
}

.history-item div {
  margin-bottom: 2.5rem;
  border-radius: 0.8rem;
  border: 1px solid #fff;
  padding: 1.5rem;
  box-sizing: border-box;
}

.history-item img {
  transform: rotate(-90deg);
}

.left-title {
  text-align: left;
}

.conclusion {
  font-size: 3rem;
  text-align: left;
  line-height: 6rem;
}

.conclusion li {
  margin: 4rem 0;
}

.sub-conclusion {
  font-size: 2rem;
  line-height: 4rem;
  margin-left: 5rem !important;
}

.more-text {
  font-size: 3.2rem;
  line-height: 9rem;
  text-align: center;
}

.top-title {
  margin-bottom: 10rem;
}

.small-code code {
  font-size: 2.8rem !important;
}

.bottom-letter {
  margin: 12rem 0 -7rem 0 !important;
}

.portal {
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  font-size: 2.2rem;
  text-align: center;
  right: 0;
  top: 0;
  background: #444859;
  color: #6b7d8f;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
}