.small {
  margin-top: 0.4rem;
  font-size: 0.25rem;
}

.title {
  font-size: 0.45rem;
  text-align: center;
}

.title div {
  margin: 0.2rem 0;
}

.title p {
  font-size: 0.32rem;
}

.history-title {
  font-size: 0.5rem;
  left: 0;
}

.history-item {
  margin: 0.15rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.history-item :global(.pure-text) {
  font-size: 0.4rem !important;
}

.history-item div {
  margin-bottom: 0.25rem;
  border-radius: 0.08rem;
  border: 1px solid #fff;
  padding: 0.15rem;
  box-sizing: border-box;
}

.history-item img {
  transform: rotate(-90deg);
}

.left-title {
  text-align: left;
}

.conclusion {
  font-size: 0.3rem;
  text-align: left;
  line-height: 0.6rem;
}

.conclusion li {
  margin: 0.4rem 0;
}

.sub-conclusion {
  font-size: 0.2rem;
  line-height: 0.4rem;
  margin-left: 0.5rem !important;
}

.more-text {
  font-size: 0.32rem;
  line-height: 0.9rem;
  text-align: center;
}

.top-title {
  margin-bottom: 1rem;
}

.small-code code {
  font-size: 0.28rem !important;
}

.bottom-letter {
  margin: 1ã€‚2rem 0 -0.7rem 0 !important;
}

.portal {
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.22rem;
  text-align: center;
  right: 0;
  top: 0;
  background: #444859;
  color: #6b7d8f;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
}